__pycache__/crash_windows_4yr.cpython-37.pyc
__pycache__/eth_bot_interface.cpython-37.pyc
__pycache__/eth_crash_accumulator_v3.cpython-37.pyc
__pycache__/eth_helpers.cpython-37.pyc
ohlcv_cache/2be93d9dcf639616.parquet
ohlcv_cache/9faf1cc357a865e5.parquet
ohlcv_cache/60df0b599775515e.parquet
ohlcv_cache/61b497f1afeb1817.parquet
ohlcv_cache/9823a7b676973f43.parquet
ohlcv_cache/a3723a33c7f2d15e.parquet
ohlcv_cache/cdf96f07435653d2.parquet
ohlcv_cache/de389a3d68493478.parquet
ohlcv_cache/*
__pycache__/*
*.db
*.csv
